In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# LOAD DATA AND CLEAN

In [ ]:
# Data Source: https://www.kaggle.com/nathanlauga/nba-games/version/8?select=games.csv

In [2]:
# Cargamos los datos: leemos el csv y obtenemos un dataframe
df_nba_games = pd.read_csv('/home/dsc/repos/master-kschool/TFM/games.csv')
df_nba_games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-11-17,22100213,Final,1610612766,1610612764,2021,1610612766,97.0,0.438,0.500,...,30.0,59.0,1610612764,87.0,0.367,0.813,0.190,23.0,48.0,1
1,2021-11-17,22100214,Final,1610612765,1610612754,2021,1610612765,97.0,0.425,0.750,...,16.0,42.0,1610612754,89.0,0.418,0.737,0.243,14.0,43.0,1
2,2021-11-17,22100215,Final,1610612737,1610612738,2021,1610612737,110.0,0.506,0.833,...,28.0,40.0,1610612738,99.0,0.440,0.824,0.268,24.0,42.0,1
3,2021-11-17,22100216,Final,1610612751,1610612739,2021,1610612751,109.0,0.458,0.840,...,29.0,47.0,1610612739,99.0,0.393,0.857,0.250,20.0,50.0,1
4,2021-11-17,22100217,Final,1610612748,1610612740,2021,1610612748,113.0,0.483,0.824,...,29.0,39.0,1610612740,98.0,0.440,0.786,0.286,18.0,38.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25020,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25021,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25022,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25023,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [4]:
# Nos quedamos solo con los valores numericos
df_nba_games_only_numerics = df_nba_games.select_dtypes(include=np.number)
df_nba_games_only_numerics

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,22100213,1610612766,1610612764,2021,1610612766,97.0,0.438,0.500,0.313,30.0,59.0,1610612764,87.0,0.367,0.813,0.190,23.0,48.0,1
1,22100214,1610612765,1610612754,2021,1610612765,97.0,0.425,0.750,0.286,16.0,42.0,1610612754,89.0,0.418,0.737,0.243,14.0,43.0,1
2,22100215,1610612737,1610612738,2021,1610612737,110.0,0.506,0.833,0.351,28.0,40.0,1610612738,99.0,0.440,0.824,0.268,24.0,42.0,1
3,22100216,1610612751,1610612739,2021,1610612751,109.0,0.458,0.840,0.375,29.0,47.0,1610612739,99.0,0.393,0.857,0.250,20.0,50.0,1
4,22100217,1610612748,1610612740,2021,1610612748,113.0,0.483,0.824,0.375,29.0,39.0,1610612740,98.0,0.440,0.786,0.286,18.0,38.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,11400007,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,0.421,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25020,11400004,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,0.381,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25021,11400005,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,0.500,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25022,11400002,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,0.333,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25023,11400001,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,0.333,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [ ]:
# Comprobamos cuantos huecos en blanco tenemos

In [8]:
# Obtengo las columnas con celdas vacías
columns_with_nan = df_nba_games_only_numerics.columns[df_nba_games_only_numerics.isnull().any()]
print(columns_with_nan)

Index(['PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away'],
      dtype='object')

In [10]:
# Cuantos valores NaN hay para una columna:
for column in columns_with_nan:
    count_nan = df_nba_games_only_numerics[column].isna().sum()
    print ('Column: ' + str(column) + ' has :' + str(count_nan) + ' of NaN')

Column: PTS_home has :99 of NaN
Column: FG_PCT_home has :99 of NaN
Column: FT_PCT_home has :99 of NaN
Column: FG3_PCT_home has :99 of NaN
Column: AST_home has :99 of NaN
Column: REB_home has :99 of NaN
Column: PTS_away has :99 of NaN
Column: FG_PCT_away has :99 of NaN
Column: FT_PCT_away has :99 of NaN
Column: FG3_PCT_away has :99 of NaN
Column: AST_away has :99 of NaN
Column: REB_away has :99 of NaN

In [ ]:
# Es decir tenemos 99 Filas sin algun resultado -> vamos a identificar esas filas

In [47]:
# Obtenemos un dataframe fila y cantidad de nan:
df_fila_and_nans = df_nba_games_only_numerics.isnull().sum(axis=1)
df_fila_and_nans

#Creamos una lista vacia donde meteremos las filas que contienen valores nan:
filas_conflictivas = []

for i in range(0, 25023):
    if df_fila_and_nans[i] != 0:# si es distinto de cero quiere decir que algun nan tiene
        filas_conflictivas.append(i)# en caso afirmativo añadimos la fila a la lista de "filas conflictivas"
        
filas_conflictivas
len(filas_conflictivas)

# Tenemos guardadas en filas_conflictivas las filas con valores nulos
# Hemos comprobado que tenemos 99 filas afectadas, 
#que es lo mismo que obteniamos mirando la cantidad de nulos para cada columna

99

In [ ]:
#Ahora queremos ver para cada una de las filas conflictivas, que cantidad de nans tiene

# para la lista anterior mejor creamos un diccionario con la fila y el numero de nans que tiene

In [ ]:
# Rellanamos los huecos en blanco con la media
df_nba_games = df_nba_games.apply(lambda x: x.fillna(x.mean()),axis=0)

In [ ]:
# Si eliminamos filas tendremos que hacer un reset_index para volver a tener "bien" el dataframe