In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, roc_curve

In [2]:
pd.options.display.max_columns
df = pd.read_csv('df_all_rs.csv')
df = df.drop('Unnamed: 0', axis=1)
df = df.drop('index', axis=1)
df

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,0.214,17.0,37.0,1610612760,118.0,0.542,1.000,0.375,32.0,34.0,0
1,2004-04-14,20301184,1610612759,1610612743,2003,1610612759,93.0,0.424,0.679,0.100,15.0,58.0,1610612743,67.0,0.325,0.611,0.222,11.0,47.0,1
2,2004-04-14,20301181,1610612754,1610612741,2003,1610612754,101.0,0.420,0.794,0.316,24.0,58.0,1610612741,96.0,0.420,0.667,0.357,20.0,41.0,1
3,2004-04-14,20301177,1610612764,1610612740,2003,1610612764,78.0,0.375,0.714,0.211,13.0,39.0,1610612740,94.0,0.451,0.600,0.364,24.0,48.0,0
4,2004-04-14,20301179,1610612752,1610612739,2003,1610612752,90.0,0.481,0.714,0.400,13.0,42.0,1610612739,100.0,0.488,0.900,0.364,22.0,40.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2018-10-17,21800011,1610612758,1610612762,2018,1610612758,117.0,0.516,0.667,0.368,17.0,37.0,1610612762,123.0,0.519,0.737,0.481,21.0,44.0,0
19394,2018-10-17,21800012,1610612746,1610612743,2018,1610612746,98.0,0.398,0.833,0.286,21.0,47.0,1610612743,107.0,0.379,0.786,0.333,20.0,56.0,0
19395,2018-10-17,21800013,1610612756,1610612742,2018,1610612756,121.0,0.543,0.875,0.559,35.0,44.0,1610612742,100.0,0.432,0.700,0.303,28.0,38.0,1
19396,2018-10-16,21800001,1610612738,1610612755,2018,1610612738,105.0,0.433,0.714,0.297,21.0,55.0,1610612755,87.0,0.391,0.609,0.192,18.0,47.0,1
19397,2018-10-16,21800002,1610612744,1610612760,2018,1610612744,108.0,0.442,0.944,0.269,28.0,58.0,1610612760,100.0,0.363,0.649,0.270,21.0,45.0,1

In [24]:
df_teams = pd.read_csv('teams.csv')
df_teams = df_teams[['TEAM_ID', 'ABBREVIATION', 'NICKNAME']]
#df_teams['HOME_TEAM_ID'] = df_teams['TEAM_ID']
#df_teams['VISITOR_TEAM_ID'] = df_teams['TEAM_ID']
df_teams

       TEAM_ID ABBREVIATION       NICKNAME  HOME_TEAM_ID  VISITOR_TEAM_ID
0   1610612737          ATL          Hawks    1610612737       1610612737
1   1610612738          BOS        Celtics    1610612738       1610612738
2   1610612740          NOP       Pelicans    1610612740       1610612740
3   1610612741          CHI          Bulls    1610612741       1610612741
4   1610612742          DAL      Mavericks    1610612742       1610612742
5   1610612743          DEN        Nuggets    1610612743       1610612743
6   1610612745          HOU        Rockets    1610612745       1610612745
7   1610612746          LAC       Clippers    1610612746       1610612746
8   1610612747          LAL         Lakers    1610612747       1610612747
9   1610612748          MIA           Heat    1610612748       1610612748
10  1610612749          MIL          Bucks    1610612749       1610612749
11  1610612750          MIN   Timberwolves    1610612750       1610612750
12  1610612751          BKN           Nets    1610612751       1610612751
13  1610612752          NYK         Knicks    1610612752       1610612752
14  1610612753          ORL          Magic    1610612753       1610612753
15  1610612754          IND         Pacers    1610612754       1610612754
16  1610612755          PHI          76ers    1610612755       1610612755
17  1610612756          PHX           Suns    1610612756       1610612756
18  1610612757          POR  Trail Blazers    1610612757       1610612757
19  1610612758          SAC          Kings    1610612758       1610612758
20  1610612759          SAS          Spurs    1610612759       1610612759
21  1610612760          OKC        Thunder    1610612760       1610612760
22  1610612761          TOR        Raptors    1610612761       1610612761
23  1610612762          UTA           Jazz    1610612762       1610612762
24  1610612763          MEM      Grizzlies    1610612763       1610612763
25  1610612764          WAS        Wizards    1610612764       1610612764
26  1610612765          DET        Pistons    1610612765       1610612765
27  1610612766          CHA        Hornets    1610612766       1610612766
28  1610612739          CLE      Cavaliers    1610612739       1610612739
29  1610612744          GSW       Warriors    1610612744       1610612744

In [32]:
df_teams = df_teams.drop(['HOME_TEAM_ID','VISITOR_TEAM_ID'], axis=1)
df_teams

       TEAM_ID ABBREVIATION       NICKNAME
0   1610612737          ATL          Hawks
1   1610612738          BOS        Celtics
2   1610612740          NOP       Pelicans
3   1610612741          CHI          Bulls
4   1610612742          DAL      Mavericks
5   1610612743          DEN        Nuggets
6   1610612745          HOU        Rockets
7   1610612746          LAC       Clippers
8   1610612747          LAL         Lakers
9   1610612748          MIA           Heat
10  1610612749          MIL          Bucks
11  1610612750          MIN   Timberwolves
12  1610612751          BKN           Nets
13  1610612752          NYK         Knicks
14  1610612753          ORL          Magic
15  1610612754          IND         Pacers
16  1610612755          PHI          76ers
17  1610612756          PHX           Suns
18  1610612757          POR  Trail Blazers
19  1610612758          SAC          Kings
20  1610612759          SAS          Spurs
21  1610612760          OKC        Thunder
22  1610612761          TOR        Raptors
23  1610612762          UTA           Jazz
24  1610612763          MEM      Grizzlies
25  1610612764          WAS        Wizards
26  1610612765          DET        Pistons
27  1610612766          CHA        Hornets
28  1610612739          CLE      Cavaliers
29  1610612744          GSW       Warriors

In [38]:
# unimos los dataframes de los partidos y de los equipos para tener el nombre de los equipos en el dataframe
df_merge = pd.merge(left=df,right=df_teams, left_on='HOME_TEAM_ID', right_on='TEAM_ID')
df_merge = pd.merge(left=df_merge,right=df_teams, left_on='VISITOR_TEAM_ID', right_on='TEAM_ID')

In [40]:
#eliminamos las colunas que hemos metidos de mas al hacer los merges
df_merge = df_merge.drop(['TEAM_ID_x','TEAM_ID_y','TEAM_ID_home', 'TEAM_ID_visitor'], axis=1)

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,ABBREVIATION_x,NICKNAME_x,ABBREVIATION_y,NICKNAME_y
0,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,0.214,...,0.542,1.000,0.375,32.0,34.0,0,LAC,Clippers,OKC,Thunder
1,2003-10-31,20300025,1610612746,1610612760,2003,1610612746,105.0,0.404,0.833,0.381,...,0.535,0.793,0.346,27.0,42.0,0,LAC,Clippers,OKC,Thunder
2,2005-01-12,20400514,1610612746,1610612760,2004,1610612746,103.0,0.494,0.815,0.429,...,0.413,0.778,0.200,18.0,44.0,1,LAC,Clippers,OKC,Thunder
3,2004-11-03,20400015,1610612746,1610612760,2004,1610612746,114.0,0.629,0.677,0.556,...,0.370,0.750,0.409,17.0,37.0,1,LAC,Clippers,OKC,Thunder
4,2006-04-16,20501201,1610612746,1610612760,2005,1610612746,98.0,0.455,0.781,0.375,...,0.541,0.711,0.438,29.0,36.0,0,LAC,Clippers,OKC,Thunder
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2014-11-24,21400198,1610612766,1610612746,2014,1610612766,92.0,0.413,0.800,0.100,...,0.511,0.800,0.469,28.0,43.0,0,CHA,Hornets,LAC,Clippers
19394,2015-12-30,21500474,1610612766,1610612746,2015,1610612766,117.0,0.432,0.889,0.300,...,0.521,0.805,0.500,27.0,39.0,0,CHA,Hornets,LAC,Clippers
19395,2017-02-11,21600808,1610612766,1610612746,2016,1610612766,102.0,0.435,0.750,0.351,...,0.471,0.650,0.412,26.0,50.0,0,CHA,Hornets,LAC,Clippers
19396,2017-11-18,21700228,1610612766,1610612746,2017,1610612766,102.0,0.391,0.793,0.423,...,0.398,0.684,0.276,18.0,44.0,1,CHA,Hornets,LAC,Clippers
19397,2019-02-05,21800796,1610612766,1610612746,2018,1610612766,115.0,0.419,0.846,0.357,...,0.483,0.882,0.750,25.0,48.0,0,CHA,Hornets,LAC,Clippers

In [41]:
df_merge

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,TEAM_ID_x,ABBREVIATION_x,NICKNAME_x,TEAM_ID_y,ABBREVIATION_y,NICKNAME_y
0,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,0.214,...,0.375,32.0,34.0,0,1610612746,LAC,Clippers,1610612760,OKC,Thunder
1,2003-10-31,20300025,1610612746,1610612760,2003,1610612746,105.0,0.404,0.833,0.381,...,0.346,27.0,42.0,0,1610612746,LAC,Clippers,1610612760,OKC,Thunder
2,2005-01-12,20400514,1610612746,1610612760,2004,1610612746,103.0,0.494,0.815,0.429,...,0.200,18.0,44.0,1,1610612746,LAC,Clippers,1610612760,OKC,Thunder
3,2004-11-03,20400015,1610612746,1610612760,2004,1610612746,114.0,0.629,0.677,0.556,...,0.409,17.0,37.0,1,1610612746,LAC,Clippers,1610612760,OKC,Thunder
4,2006-04-16,20501201,1610612746,1610612760,2005,1610612746,98.0,0.455,0.781,0.375,...,0.438,29.0,36.0,0,1610612746,LAC,Clippers,1610612760,OKC,Thunder
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2014-11-24,21400198,1610612766,1610612746,2014,1610612766,92.0,0.413,0.800,0.100,...,0.469,28.0,43.0,0,1610612766,CHA,Hornets,1610612746,LAC,Clippers
19394,2015-12-30,21500474,1610612766,1610612746,2015,1610612766,117.0,0.432,0.889,0.300,...,0.500,27.0,39.0,0,1610612766,CHA,Hornets,1610612746,LAC,Clippers
19395,2017-02-11,21600808,1610612766,1610612746,2016,1610612766,102.0,0.435,0.750,0.351,...,0.412,26.0,50.0,0,1610612766,CHA,Hornets,1610612746,LAC,Clippers
19396,2017-11-18,21700228,1610612766,1610612746,2017,1610612766,102.0,0.391,0.793,0.423,...,0.276,18.0,44.0,1,1610612766,CHA,Hornets,1610612746,LAC,Clippers
19397,2019-02-05,21800796,1610612766,1610612746,2018,1610612766,115.0,0.419,0.846,0.357,...,0.750,25.0,48.0,0,1610612766,CHA,Hornets,1610612746,LAC,Clippers

In [42]:
#ordenamos las columnas a nuestro antojo
df_merge = df_merge[['GAME_DATE_EST', 'GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'ABBREVIATION_x', 'NICKNAME_x',\
                     'ABBREVIATION_y', 'NICKNAME_y', 'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home', \
                     'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away', \
                     'FG3_PCT_away', 'AST_away' ,'REB_away', 'HOME_TEAM_WINS']]

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,ABBREVIATION_x,NICKNAME_x,ABBREVIATION_y,NICKNAME_y,SEASON,PTS_home,...,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2004-04-14,20301188,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,87.0,...,0.214,17.0,37.0,118.0,0.542,1.000,0.375,32.0,34.0,0
1,2003-10-31,20300025,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,105.0,...,0.381,23.0,43.0,124.0,0.535,0.793,0.346,27.0,42.0,0
2,2005-01-12,20400514,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2004,103.0,...,0.429,20.0,36.0,92.0,0.413,0.778,0.200,18.0,44.0,1
3,2004-11-03,20400015,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2004,114.0,...,0.556,33.0,38.0,84.0,0.370,0.750,0.409,17.0,37.0,1
4,2006-04-16,20501201,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2005,98.0,...,0.375,26.0,43.0,114.0,0.541,0.711,0.438,29.0,36.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2014-11-24,21400198,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2014,92.0,...,0.100,21.0,33.0,113.0,0.511,0.800,0.469,28.0,43.0,0
19394,2015-12-30,21500474,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2015,117.0,...,0.300,20.0,42.0,122.0,0.521,0.805,0.500,27.0,39.0,0
19395,2017-02-11,21600808,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2016,102.0,...,0.351,24.0,40.0,107.0,0.471,0.650,0.412,26.0,50.0,0
19396,2017-11-18,21700228,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2017,102.0,...,0.423,20.0,49.0,87.0,0.398,0.684,0.276,18.0,44.0,1
19397,2019-02-05,21800796,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2018,115.0,...,0.357,19.0,44.0,117.0,0.483,0.882,0.750,25.0,48.0,0

In [43]:
#Renombramos algunas columnas
df_merge = df_merge.rename(columns={'GAME_DATE_EST' : 'GAME_DATE',
                                    'ABBREVIATION_x' : 'HOME_TEAM_ABBREVIATION',
                                    'NICKNAME_x' : 'HOME_TEAM_NICKNAME',
                                    'ABBREVIATION_y' : 'VISITOR_TEAM_ABBREVIATION',
                                    'NICKNAME_y' : 'VISITOR_TEAM_NICKNAME',})

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2004-04-14,20301188,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,87.0,...,0.214,17.0,37.0,118.0,0.542,1.000,0.375,32.0,34.0,0
1,2003-10-31,20300025,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,105.0,...,0.381,23.0,43.0,124.0,0.535,0.793,0.346,27.0,42.0,0
2,2005-01-12,20400514,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2004,103.0,...,0.429,20.0,36.0,92.0,0.413,0.778,0.200,18.0,44.0,1
3,2004-11-03,20400015,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2004,114.0,...,0.556,33.0,38.0,84.0,0.370,0.750,0.409,17.0,37.0,1
4,2006-04-16,20501201,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2005,98.0,...,0.375,26.0,43.0,114.0,0.541,0.711,0.438,29.0,36.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2014-11-24,21400198,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2014,92.0,...,0.100,21.0,33.0,113.0,0.511,0.800,0.469,28.0,43.0,0
19394,2015-12-30,21500474,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2015,117.0,...,0.300,20.0,42.0,122.0,0.521,0.805,0.500,27.0,39.0,0
19395,2017-02-11,21600808,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2016,102.0,...,0.351,24.0,40.0,107.0,0.471,0.650,0.412,26.0,50.0,0
19396,2017-11-18,21700228,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2017,102.0,...,0.423,20.0,49.0,87.0,0.398,0.684,0.276,18.0,44.0,1
19397,2019-02-05,21800796,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2018,115.0,...,0.357,19.0,44.0,117.0,0.483,0.882,0.750,25.0,48.0,0

In [48]:
df_merge = df_merge.sort_values(by="GAME_DATE_EST")

In [50]:
df_merge.to_csv('df_merged_renamed_droped_sorted_rs.csv')

In [3]:
rs_2003 = ('2003-10-28', '2004-04-14')
rs_2004 = ('2004-11-02', '2005-04-20')
rs_2005 = ('2005-11-01', '2006-04-19')
rs_2006 = ('2006-10-31', '2007-04-18')
rs_2007 = ('2007-10-30', '2008-04-16')    
rs_2008 = ('2008-10-28', '2009-04-16')
rs_2009 = ('2009-10-27', '2010-04-14')
rs_2010 = ('2010-10-26', '2011-04-13')
rs_2011 = ('2011-12-25', '2012-04-26')
rs_2012 = ('2012-10-30', '2013-04-17')
rs_2013 = ('2013-10-29', '2014-04-16')
rs_2014 = ('2014-10-28', '2015-04-15')
rs_2015 = ('2015-10-27', '2016-04-13')
rs_2016 = ('2016-10-25', '2017-04-12')
rs_2017 = ('2017-10-17', '2018-04-11')
rs_2018 = ('2018-10-16', '2019-04-10')

In [5]:
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")
df_rs_03 = df.query("GAME_DATE_EST >= '2003-10-28' and GAME_DATE_EST <='2004-04-14'")


df_rs_03

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,0.214,17.0,37.0,1610612760,118.0,0.542,1.000,0.375,32.0,34.0,0
1,2004-04-14,20301184,1610612759,1610612743,2003,1610612759,93.0,0.424,0.679,0.100,15.0,58.0,1610612743,67.0,0.325,0.611,0.222,11.0,47.0,1
2,2004-04-14,20301181,1610612754,1610612741,2003,1610612754,101.0,0.420,0.794,0.316,24.0,58.0,1610612741,96.0,0.420,0.667,0.357,20.0,41.0,1
3,2004-04-14,20301177,1610612764,1610612740,2003,1610612764,78.0,0.375,0.714,0.211,13.0,39.0,1610612740,94.0,0.451,0.600,0.364,24.0,48.0,0
4,2004-04-14,20301179,1610612752,1610612739,2003,1610612752,90.0,0.481,0.714,0.400,13.0,42.0,1610612739,100.0,0.488,0.900,0.364,22.0,40.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184,2003-10-29,20300006,1610612740,1610612737,2003,1610612740,88.0,0.324,0.700,0.160,24.0,55.0,1610612737,83.0,0.398,0.737,0.214,18.0,58.0,1
1185,2003-10-29,20300012,1610612762,1610612757,2003,1610612762,99.0,0.575,0.714,0.556,25.0,29.0,1610612757,92.0,0.429,0.762,0.333,20.0,40.0,1
1186,2003-10-28,20300001,1610612755,1610612748,2003,1610612755,89.0,0.440,0.533,0.350,25.0,39.0,1610612748,74.0,0.408,0.824,0.250,16.0,44.0,1
1187,2003-10-28,20300002,1610612759,1610612756,2003,1610612759,83.0,0.425,0.769,0.100,20.0,38.0,1610612756,82.0,0.361,0.810,0.500,14.0,43.0,1
1188,2003-10-28,20300003,1610612747,1610612742,2003,1610612747,109.0,0.506,0.600,0.350,32.0,46.0,1610612742,93.0,0.376,0.733,0.280,17.0,46.0,1

In [20]:
df = df.sort_values(by="GAME_DATE_EST")

In [21]:
df

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
1188,2003-10-28,20300003,1610612747,1610612742,2003,1610612747,109.0,0.506,0.600,0.350,32.0,46.0,1610612742,93.0,0.376,0.733,0.280,17.0,46.0,1
1187,2003-10-28,20300002,1610612759,1610612756,2003,1610612759,83.0,0.425,0.769,0.100,20.0,38.0,1610612756,82.0,0.361,0.810,0.500,14.0,43.0,1
1186,2003-10-28,20300001,1610612755,1610612748,2003,1610612755,89.0,0.440,0.533,0.350,25.0,39.0,1610612748,74.0,0.408,0.824,0.250,16.0,44.0,1
1185,2003-10-29,20300012,1610612762,1610612757,2003,1610612762,99.0,0.575,0.714,0.556,25.0,29.0,1610612757,92.0,0.429,0.762,0.333,20.0,40.0,1
1184,2003-10-29,20300006,1610612740,1610612737,2003,1610612740,88.0,0.324,0.700,0.160,24.0,55.0,1610612737,83.0,0.398,0.737,0.214,18.0,58.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18173,2019-04-10,21801225,1610612763,1610612744,2018,1610612763,132.0,0.490,0.833,0.457,25.0,49.0,1610612744,117.0,0.500,0.857,0.433,32.0,39.0,1
18172,2019-04-10,21801224,1610612755,1610612741,2018,1610612755,125.0,0.559,0.600,0.462,30.0,47.0,1610612741,109.0,0.474,0.667,0.375,21.0,39.0,1
18171,2019-04-10,21801223,1610612752,1610612765,2018,1610612752,89.0,0.403,0.720,0.300,23.0,33.0,1610612765,115.0,0.482,0.950,0.424,25.0,56.0,0
18170,2019-04-10,21801222,1610612766,1610612753,2018,1610612766,114.0,0.526,0.889,0.276,21.0,32.0,1610612753,122.0,0.545,0.750,0.367,24.0,39.0,0
18169,2019-04-10,21801221,1610612751,1610612748,2018,1610612751,113.0,0.377,0.857,0.362,29.0,68.0,1610612748,94.0,0.388,0.667,0.195,22.0,54.0,1

In [6]:
df.to_excel('df_excel.xlsx')

In [ ]:
def last_game(game_id):
    for game in df[['GAME_ID']]:
        if game = game_id:
            df
    
    return

In [24]:
df[['GAME_ID']]

        GAME_ID
1188   20300003
1187   20300002
1186   20300001
1185   20300012
1184   20300006
...         ...
18173  21801225
18172  21801224
18171  21801223
18170  21801222
18169  21801221

[19398 rows x 1 columns]

In [22]:
df[['HOME_TEAM_ID','GAME_DATE_EST']]

       HOME_TEAM_ID GAME_DATE_EST
1188     1610612747    2003-10-28
1187     1610612759    2003-10-28
1186     1610612755    2003-10-28
1185     1610612762    2003-10-29
1184     1610612740    2003-10-29
...             ...           ...
18173    1610612763    2019-04-10
18172    1610612755    2019-04-10
18171    1610612752    2019-04-10
18170    1610612766    2019-04-10
18169    1610612751    2019-04-10

[19398 rows x 2 columns]

In [ ]:
target = df['HOME_TEAM_WINS']
data = df[['FG_PCT_home', 'FG_PCT_away', 'FG3_PCT_home', 'FG3_PCT_away']]
data_copy = data.copy()
normalized_data = (data_copy - data_copy.mean()) / data_copy.std()