In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, roc_curve

In [67]:
pd.options.display.max_columns
df = pd.read_csv('df_all_rs.csv')
df = df.drop('Unnamed: 0', axis=1)
df = df.drop('index', axis=1)
df

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,0.214,17.0,37.0,1610612760,118.0,0.542,1.000,0.375,32.0,34.0,0
1,2004-04-14,20301184,1610612759,1610612743,2003,1610612759,93.0,0.424,0.679,0.100,15.0,58.0,1610612743,67.0,0.325,0.611,0.222,11.0,47.0,1
2,2004-04-14,20301181,1610612754,1610612741,2003,1610612754,101.0,0.420,0.794,0.316,24.0,58.0,1610612741,96.0,0.420,0.667,0.357,20.0,41.0,1
3,2004-04-14,20301177,1610612764,1610612740,2003,1610612764,78.0,0.375,0.714,0.211,13.0,39.0,1610612740,94.0,0.451,0.600,0.364,24.0,48.0,0
4,2004-04-14,20301179,1610612752,1610612739,2003,1610612752,90.0,0.481,0.714,0.400,13.0,42.0,1610612739,100.0,0.488,0.900,0.364,22.0,40.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2018-10-17,21800011,1610612758,1610612762,2018,1610612758,117.0,0.516,0.667,0.368,17.0,37.0,1610612762,123.0,0.519,0.737,0.481,21.0,44.0,0
19394,2018-10-17,21800012,1610612746,1610612743,2018,1610612746,98.0,0.398,0.833,0.286,21.0,47.0,1610612743,107.0,0.379,0.786,0.333,20.0,56.0,0
19395,2018-10-17,21800013,1610612756,1610612742,2018,1610612756,121.0,0.543,0.875,0.559,35.0,44.0,1610612742,100.0,0.432,0.700,0.303,28.0,38.0,1
19396,2018-10-16,21800001,1610612738,1610612755,2018,1610612738,105.0,0.433,0.714,0.297,21.0,55.0,1610612755,87.0,0.391,0.609,0.192,18.0,47.0,1
19397,2018-10-16,21800002,1610612744,1610612760,2018,1610612744,108.0,0.442,0.944,0.269,28.0,58.0,1610612760,100.0,0.363,0.649,0.270,21.0,45.0,1

In [68]:
df_teams = pd.read_csv('teams.csv')
df_teams = df_teams[['TEAM_ID', 'ABBREVIATION', 'NICKNAME']]
df_teams

       TEAM_ID ABBREVIATION       NICKNAME
0   1610612737          ATL          Hawks
1   1610612738          BOS        Celtics
2   1610612740          NOP       Pelicans
3   1610612741          CHI          Bulls
4   1610612742          DAL      Mavericks
5   1610612743          DEN        Nuggets
6   1610612745          HOU        Rockets
7   1610612746          LAC       Clippers
8   1610612747          LAL         Lakers
9   1610612748          MIA           Heat
10  1610612749          MIL          Bucks
11  1610612750          MIN   Timberwolves
12  1610612751          BKN           Nets
13  1610612752          NYK         Knicks
14  1610612753          ORL          Magic
15  1610612754          IND         Pacers
16  1610612755          PHI          76ers
17  1610612756          PHX           Suns
18  1610612757          POR  Trail Blazers
19  1610612758          SAC          Kings
20  1610612759          SAS          Spurs
21  1610612760          OKC        Thunder
22  1610612761          TOR        Raptors
23  1610612762          UTA           Jazz
24  1610612763          MEM      Grizzlies
25  1610612764          WAS        Wizards
26  1610612765          DET        Pistons
27  1610612766          CHA        Hornets
28  1610612739          CLE      Cavaliers
29  1610612744          GSW       Warriors

In [69]:
# unimos los dataframes de los partidos y de los equipos para tener el nombre de los equipos en el dataframe
df_merge = pd.merge(left=df,right=df_teams, left_on='HOME_TEAM_ID', right_on='TEAM_ID')
df_merge = pd.merge(left=df_merge,right=df_teams, left_on='VISITOR_TEAM_ID', right_on='TEAM_ID')
df_merge

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,TEAM_ID_x,ABBREVIATION_x,NICKNAME_x,TEAM_ID_y,ABBREVIATION_y,NICKNAME_y
0,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,0.214,...,0.375,32.0,34.0,0,1610612746,LAC,Clippers,1610612760,OKC,Thunder
1,2003-10-31,20300025,1610612746,1610612760,2003,1610612746,105.0,0.404,0.833,0.381,...,0.346,27.0,42.0,0,1610612746,LAC,Clippers,1610612760,OKC,Thunder
2,2005-01-12,20400514,1610612746,1610612760,2004,1610612746,103.0,0.494,0.815,0.429,...,0.200,18.0,44.0,1,1610612746,LAC,Clippers,1610612760,OKC,Thunder
3,2004-11-03,20400015,1610612746,1610612760,2004,1610612746,114.0,0.629,0.677,0.556,...,0.409,17.0,37.0,1,1610612746,LAC,Clippers,1610612760,OKC,Thunder
4,2006-04-16,20501201,1610612746,1610612760,2005,1610612746,98.0,0.455,0.781,0.375,...,0.438,29.0,36.0,0,1610612746,LAC,Clippers,1610612760,OKC,Thunder
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2014-11-24,21400198,1610612766,1610612746,2014,1610612766,92.0,0.413,0.800,0.100,...,0.469,28.0,43.0,0,1610612766,CHA,Hornets,1610612746,LAC,Clippers
19394,2015-12-30,21500474,1610612766,1610612746,2015,1610612766,117.0,0.432,0.889,0.300,...,0.500,27.0,39.0,0,1610612766,CHA,Hornets,1610612746,LAC,Clippers
19395,2017-02-11,21600808,1610612766,1610612746,2016,1610612766,102.0,0.435,0.750,0.351,...,0.412,26.0,50.0,0,1610612766,CHA,Hornets,1610612746,LAC,Clippers
19396,2017-11-18,21700228,1610612766,1610612746,2017,1610612766,102.0,0.391,0.793,0.423,...,0.276,18.0,44.0,1,1610612766,CHA,Hornets,1610612746,LAC,Clippers
19397,2019-02-05,21800796,1610612766,1610612746,2018,1610612766,115.0,0.419,0.846,0.357,...,0.750,25.0,48.0,0,1610612766,CHA,Hornets,1610612746,LAC,Clippers

In [71]:
#eliminamos las colunas que hemos metidos de mas al hacer los merges
df_merge = df_merge.drop(['TEAM_ID_x','TEAM_ID_y','TEAM_ID_home'], axis=1)
df_merge

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,ABBREVIATION_x,NICKNAME_x,ABBREVIATION_y,NICKNAME_y
0,2004-04-14,20301188,1610612746,1610612760,2003,87.0,0.423,0.727,0.214,17.0,...,0.542,1.000,0.375,32.0,34.0,0,LAC,Clippers,OKC,Thunder
1,2003-10-31,20300025,1610612746,1610612760,2003,105.0,0.404,0.833,0.381,23.0,...,0.535,0.793,0.346,27.0,42.0,0,LAC,Clippers,OKC,Thunder
2,2005-01-12,20400514,1610612746,1610612760,2004,103.0,0.494,0.815,0.429,20.0,...,0.413,0.778,0.200,18.0,44.0,1,LAC,Clippers,OKC,Thunder
3,2004-11-03,20400015,1610612746,1610612760,2004,114.0,0.629,0.677,0.556,33.0,...,0.370,0.750,0.409,17.0,37.0,1,LAC,Clippers,OKC,Thunder
4,2006-04-16,20501201,1610612746,1610612760,2005,98.0,0.455,0.781,0.375,26.0,...,0.541,0.711,0.438,29.0,36.0,0,LAC,Clippers,OKC,Thunder
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2014-11-24,21400198,1610612766,1610612746,2014,92.0,0.413,0.800,0.100,21.0,...,0.511,0.800,0.469,28.0,43.0,0,CHA,Hornets,LAC,Clippers
19394,2015-12-30,21500474,1610612766,1610612746,2015,117.0,0.432,0.889,0.300,20.0,...,0.521,0.805,0.500,27.0,39.0,0,CHA,Hornets,LAC,Clippers
19395,2017-02-11,21600808,1610612766,1610612746,2016,102.0,0.435,0.750,0.351,24.0,...,0.471,0.650,0.412,26.0,50.0,0,CHA,Hornets,LAC,Clippers
19396,2017-11-18,21700228,1610612766,1610612746,2017,102.0,0.391,0.793,0.423,20.0,...,0.398,0.684,0.276,18.0,44.0,1,CHA,Hornets,LAC,Clippers
19397,2019-02-05,21800796,1610612766,1610612746,2018,115.0,0.419,0.846,0.357,19.0,...,0.483,0.882,0.750,25.0,48.0,0,CHA,Hornets,LAC,Clippers

In [73]:
#ordenamos las columnas a nuestro antojo
df_merge = df_merge[['GAME_DATE_EST', 'GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'ABBREVIATION_x', 'NICKNAME_x',\
                     'ABBREVIATION_y', 'NICKNAME_y', 'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home', \
                     'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away', \
                     'FG3_PCT_away', 'AST_away' ,'REB_away', 'HOME_TEAM_WINS']]
df_merge

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,ABBREVIATION_x,NICKNAME_x,ABBREVIATION_y,NICKNAME_y,SEASON,PTS_home,...,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2004-04-14,20301188,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,87.0,...,0.214,17.0,37.0,118.0,0.542,1.000,0.375,32.0,34.0,0
1,2003-10-31,20300025,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,105.0,...,0.381,23.0,43.0,124.0,0.535,0.793,0.346,27.0,42.0,0
2,2005-01-12,20400514,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2004,103.0,...,0.429,20.0,36.0,92.0,0.413,0.778,0.200,18.0,44.0,1
3,2004-11-03,20400015,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2004,114.0,...,0.556,33.0,38.0,84.0,0.370,0.750,0.409,17.0,37.0,1
4,2006-04-16,20501201,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2005,98.0,...,0.375,26.0,43.0,114.0,0.541,0.711,0.438,29.0,36.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2014-11-24,21400198,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2014,92.0,...,0.100,21.0,33.0,113.0,0.511,0.800,0.469,28.0,43.0,0
19394,2015-12-30,21500474,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2015,117.0,...,0.300,20.0,42.0,122.0,0.521,0.805,0.500,27.0,39.0,0
19395,2017-02-11,21600808,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2016,102.0,...,0.351,24.0,40.0,107.0,0.471,0.650,0.412,26.0,50.0,0
19396,2017-11-18,21700228,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2017,102.0,...,0.423,20.0,49.0,87.0,0.398,0.684,0.276,18.0,44.0,1
19397,2019-02-05,21800796,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2018,115.0,...,0.357,19.0,44.0,117.0,0.483,0.882,0.750,25.0,48.0,0

In [74]:
#Renombramos algunas columnas
df_merge = df_merge.rename(columns={'GAME_DATE_EST' : 'GAME_DATE',
                                    'ABBREVIATION_x' : 'HOME_TEAM_ABBREVIATION',
                                    'NICKNAME_x' : 'HOME_TEAM_NICKNAME',
                                    'ABBREVIATION_y' : 'VISITOR_TEAM_ABBREVIATION',
                                    'NICKNAME_y' : 'VISITOR_TEAM_NICKNAME',})
df_merge

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2004-04-14,20301188,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,87.0,...,0.214,17.0,37.0,118.0,0.542,1.000,0.375,32.0,34.0,0
1,2003-10-31,20300025,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,105.0,...,0.381,23.0,43.0,124.0,0.535,0.793,0.346,27.0,42.0,0
2,2005-01-12,20400514,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2004,103.0,...,0.429,20.0,36.0,92.0,0.413,0.778,0.200,18.0,44.0,1
3,2004-11-03,20400015,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2004,114.0,...,0.556,33.0,38.0,84.0,0.370,0.750,0.409,17.0,37.0,1
4,2006-04-16,20501201,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2005,98.0,...,0.375,26.0,43.0,114.0,0.541,0.711,0.438,29.0,36.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2014-11-24,21400198,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2014,92.0,...,0.100,21.0,33.0,113.0,0.511,0.800,0.469,28.0,43.0,0
19394,2015-12-30,21500474,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2015,117.0,...,0.300,20.0,42.0,122.0,0.521,0.805,0.500,27.0,39.0,0
19395,2017-02-11,21600808,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2016,102.0,...,0.351,24.0,40.0,107.0,0.471,0.650,0.412,26.0,50.0,0
19396,2017-11-18,21700228,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2017,102.0,...,0.423,20.0,49.0,87.0,0.398,0.684,0.276,18.0,44.0,1
19397,2019-02-05,21800796,1610612766,1610612746,CHA,Hornets,LAC,Clippers,2018,115.0,...,0.357,19.0,44.0,117.0,0.483,0.882,0.750,25.0,48.0,0

In [76]:
#ordenamos por game date y game_id
df_merge = df_merge.sort_values(['GAME_DATE', 'GAME_ID'])
df_merge

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
11562,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,0.350,25.0,39.0,74.0,0.408,0.824,0.250,16.0,44.0,1
12344,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,0.100,20.0,38.0,82.0,0.361,0.810,0.500,14.0,43.0,1
5505,2003-10-28,20300003,1610612747,1610612742,LAL,Lakers,DAL,Mavericks,2003,109.0,...,0.350,32.0,46.0,93.0,0.376,0.733,0.280,17.0,46.0,1
11151,2003-10-29,20300004,1610612738,1610612748,BOS,Celtics,MIA,Heat,2003,98.0,...,0.313,28.0,40.0,75.0,0.366,0.750,0.417,14.0,39.0,1
16941,2003-10-29,20300005,1610612752,1610612753,NYK,Knicks,ORL,Magic,2003,83.0,...,0.313,20.0,48.0,85.0,0.368,0.552,0.250,17.0,44.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,2019-04-10,21801226,1610612749,1610612760,MIL,Bucks,OKC,Thunder,2018,116.0,...,0.326,27.0,53.0,127.0,0.485,0.615,0.426,40.0,53.0,0
5243,2019-04-10,21801227,1610612759,1610612742,SAS,Spurs,DAL,Mavericks,2018,105.0,...,0.333,22.0,53.0,94.0,0.407,0.750,0.297,27.0,42.0,1
3105,2019-04-10,21801228,1610612743,1610612750,DEN,Nuggets,MIN,Timberwolves,2018,99.0,...,0.303,23.0,53.0,95.0,0.429,0.667,0.406,24.0,41.0,1
1971,2019-04-10,21801229,1610612746,1610612762,LAC,Clippers,UTA,Jazz,2018,143.0,...,0.429,34.0,52.0,137.0,0.443,0.879,0.400,31.0,57.0,1
10592,2019-04-10,21801230,1610612757,1610612758,POR,Trail Blazers,SAC,Kings,2018,136.0,...,0.583,19.0,44.0,131.0,0.521,0.813,0.419,25.0,35.0,1

In [77]:
df_merge = df_merge.reset_index()
df_merge = df_merge.drop('index', axis=1)
df_merge

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,0.350,25.0,39.0,74.0,0.408,0.824,0.250,16.0,44.0,1
1,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,0.100,20.0,38.0,82.0,0.361,0.810,0.500,14.0,43.0,1
2,2003-10-28,20300003,1610612747,1610612742,LAL,Lakers,DAL,Mavericks,2003,109.0,...,0.350,32.0,46.0,93.0,0.376,0.733,0.280,17.0,46.0,1
3,2003-10-29,20300004,1610612738,1610612748,BOS,Celtics,MIA,Heat,2003,98.0,...,0.313,28.0,40.0,75.0,0.366,0.750,0.417,14.0,39.0,1
4,2003-10-29,20300005,1610612752,1610612753,NYK,Knicks,ORL,Magic,2003,83.0,...,0.313,20.0,48.0,85.0,0.368,0.552,0.250,17.0,44.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2019-04-10,21801226,1610612749,1610612760,MIL,Bucks,OKC,Thunder,2018,116.0,...,0.326,27.0,53.0,127.0,0.485,0.615,0.426,40.0,53.0,0
19394,2019-04-10,21801227,1610612759,1610612742,SAS,Spurs,DAL,Mavericks,2018,105.0,...,0.333,22.0,53.0,94.0,0.407,0.750,0.297,27.0,42.0,1
19395,2019-04-10,21801228,1610612743,1610612750,DEN,Nuggets,MIN,Timberwolves,2018,99.0,...,0.303,23.0,53.0,95.0,0.429,0.667,0.406,24.0,41.0,1
19396,2019-04-10,21801229,1610612746,1610612762,LAC,Clippers,UTA,Jazz,2018,143.0,...,0.429,34.0,52.0,137.0,0.443,0.879,0.400,31.0,57.0,1
19397,2019-04-10,21801230,1610612757,1610612758,POR,Trail Blazers,SAC,Kings,2018,136.0,...,0.583,19.0,44.0,131.0,0.521,0.813,0.419,25.0,35.0,1

In [78]:
df_merge.to_csv('df_merged_renamed_droped_sorted_rs.csv')

In [3]:
pd.options.display.max_columns
df = pd.read_csv('df_merged_renamed_droped_sorted_rs.csv')
df = df.drop('Unnamed: 0', axis=1)
df

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,0.350,25.0,39.0,74.0,0.408,0.824,0.250,16.0,44.0,1
1,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,0.100,20.0,38.0,82.0,0.361,0.810,0.500,14.0,43.0,1
2,2003-10-28,20300003,1610612747,1610612742,LAL,Lakers,DAL,Mavericks,2003,109.0,...,0.350,32.0,46.0,93.0,0.376,0.733,0.280,17.0,46.0,1
3,2003-10-29,20300004,1610612738,1610612748,BOS,Celtics,MIA,Heat,2003,98.0,...,0.313,28.0,40.0,75.0,0.366,0.750,0.417,14.0,39.0,1
4,2003-10-29,20300005,1610612752,1610612753,NYK,Knicks,ORL,Magic,2003,83.0,...,0.313,20.0,48.0,85.0,0.368,0.552,0.250,17.0,44.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2019-04-10,21801226,1610612749,1610612760,MIL,Bucks,OKC,Thunder,2018,116.0,...,0.326,27.0,53.0,127.0,0.485,0.615,0.426,40.0,53.0,0
19394,2019-04-10,21801227,1610612759,1610612742,SAS,Spurs,DAL,Mavericks,2018,105.0,...,0.333,22.0,53.0,94.0,0.407,0.750,0.297,27.0,42.0,1
19395,2019-04-10,21801228,1610612743,1610612750,DEN,Nuggets,MIN,Timberwolves,2018,99.0,...,0.303,23.0,53.0,95.0,0.429,0.667,0.406,24.0,41.0,1
19396,2019-04-10,21801229,1610612746,1610612762,LAC,Clippers,UTA,Jazz,2018,143.0,...,0.429,34.0,52.0,137.0,0.443,0.879,0.400,31.0,57.0,1
19397,2019-04-10,21801230,1610612757,1610612758,POR,Trail Blazers,SAC,Kings,2018,136.0,...,0.583,19.0,44.0,131.0,0.521,0.813,0.419,25.0,35.0,1

In [4]:
#Añadimos la columna VISITOR_TEAM_WINS que necesitaremos mas adelnate
df['VISITOR_TEAM_WINS'] = np.nan
df

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,VISITOR_TEAM_WINS
0,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,25.0,39.0,74.0,0.408,0.824,0.250,16.0,44.0,1,NaN
1,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,20.0,38.0,82.0,0.361,0.810,0.500,14.0,43.0,1,NaN
2,2003-10-28,20300003,1610612747,1610612742,LAL,Lakers,DAL,Mavericks,2003,109.0,...,32.0,46.0,93.0,0.376,0.733,0.280,17.0,46.0,1,NaN
3,2003-10-29,20300004,1610612738,1610612748,BOS,Celtics,MIA,Heat,2003,98.0,...,28.0,40.0,75.0,0.366,0.750,0.417,14.0,39.0,1,NaN
4,2003-10-29,20300005,1610612752,1610612753,NYK,Knicks,ORL,Magic,2003,83.0,...,20.0,48.0,85.0,0.368,0.552,0.250,17.0,44.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2019-04-10,21801226,1610612749,1610612760,MIL,Bucks,OKC,Thunder,2018,116.0,...,27.0,53.0,127.0,0.485,0.615,0.426,40.0,53.0,0,NaN
19394,2019-04-10,21801227,1610612759,1610612742,SAS,Spurs,DAL,Mavericks,2018,105.0,...,22.0,53.0,94.0,0.407,0.750,0.297,27.0,42.0,1,NaN
19395,2019-04-10,21801228,1610612743,1610612750,DEN,Nuggets,MIN,Timberwolves,2018,99.0,...,23.0,53.0,95.0,0.429,0.667,0.406,24.0,41.0,1,NaN
19396,2019-04-10,21801229,1610612746,1610612762,LAC,Clippers,UTA,Jazz,2018,143.0,...,34.0,52.0,137.0,0.443,0.879,0.400,31.0,57.0,1,NaN
19397,2019-04-10,21801230,1610612757,1610612758,POR,Trail Blazers,SAC,Kings,2018,136.0,...,19.0,44.0,131.0,0.521,0.813,0.419,25.0,35.0,1,NaN

In [5]:
def fill_visitor_team_wins(n):
    if n==1:
        return 0
    else:
        return 1

In [6]:
home_team_wins = list(df['HOME_TEAM_WINS'].values)
visitor_team_wins = list(map(fill_visitor_team_wins, home_team_wins))
df['VISITOR_TEAM_WINS'] = pd.Series(visitor_team_wins)
df

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,VISITOR_TEAM_WINS
0,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,25.0,39.0,74.0,0.408,0.824,0.250,16.0,44.0,1,0
1,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,20.0,38.0,82.0,0.361,0.810,0.500,14.0,43.0,1,0
2,2003-10-28,20300003,1610612747,1610612742,LAL,Lakers,DAL,Mavericks,2003,109.0,...,32.0,46.0,93.0,0.376,0.733,0.280,17.0,46.0,1,0
3,2003-10-29,20300004,1610612738,1610612748,BOS,Celtics,MIA,Heat,2003,98.0,...,28.0,40.0,75.0,0.366,0.750,0.417,14.0,39.0,1,0
4,2003-10-29,20300005,1610612752,1610612753,NYK,Knicks,ORL,Magic,2003,83.0,...,20.0,48.0,85.0,0.368,0.552,0.250,17.0,44.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2019-04-10,21801226,1610612749,1610612760,MIL,Bucks,OKC,Thunder,2018,116.0,...,27.0,53.0,127.0,0.485,0.615,0.426,40.0,53.0,0,1
19394,2019-04-10,21801227,1610612759,1610612742,SAS,Spurs,DAL,Mavericks,2018,105.0,...,22.0,53.0,94.0,0.407,0.750,0.297,27.0,42.0,1,0
19395,2019-04-10,21801228,1610612743,1610612750,DEN,Nuggets,MIN,Timberwolves,2018,99.0,...,23.0,53.0,95.0,0.429,0.667,0.406,24.0,41.0,1,0
19396,2019-04-10,21801229,1610612746,1610612762,LAC,Clippers,UTA,Jazz,2018,143.0,...,34.0,52.0,137.0,0.443,0.879,0.400,31.0,57.0,1,0
19397,2019-04-10,21801230,1610612757,1610612758,POR,Trail Blazers,SAC,Kings,2018,136.0,...,19.0,44.0,131.0,0.521,0.813,0.419,25.0,35.0,1,0

In [7]:
#Acontinuacion se quieren agregar una serie de columnas al dataframe que añadiran valor a los datos.
#Mas adelante hablaremos de dichas columnas, por ahora vamos a dividir nuestro dataframe por temporadas,
#mas adelante los uniremos de nuevo para trabajar con uno solo
df_rs_03 = df.query("GAME_DATE >= '2003-10-28' and GAME_DATE <='2004-04-14'")
df_rs_04 = df.query("GAME_DATE >= '2004-11-02' and GAME_DATE <='2005-04-20'")
df_rs_05 = df.query("GAME_DATE >= '2005-11-01' and GAME_DATE <='2006-04-19'")
df_rs_06 = df.query("GAME_DATE >= '2006-10-31' and GAME_DATE <='2007-04-18'")
df_rs_07 = df.query("GAME_DATE >= '2007-10-30' and GAME_DATE <='2008-04-16'")
df_rs_08 = df.query("GAME_DATE >= '2008-10-28' and GAME_DATE <='2009-04-16'")
df_rs_09 = df.query("GAME_DATE >= '2009-10-27' and GAME_DATE <='2010-04-14'")
df_rs_10 = df.query("GAME_DATE >= '2010-10-26' and GAME_DATE <='2011-04-13'")
df_rs_11 = df.query("GAME_DATE >= '2011-12-25' and GAME_DATE <='2012-04-26'")
df_rs_12 = df.query("GAME_DATE >= '2012-10-30' and GAME_DATE <='2013-04-17'")
df_rs_13 = df.query("GAME_DATE >= '2013-10-29' and GAME_DATE <='2014-04-16'")
df_rs_14 = df.query("GAME_DATE >= '2014-10-28' and GAME_DATE <='2015-04-15'")
df_rs_15 = df.query("GAME_DATE >= '2015-10-27' and GAME_DATE <='2016-04-13'")
df_rs_16 = df.query("GAME_DATE >= '2016-10-25' and GAME_DATE <='2017-04-12'")
df_rs_17 = df.query("GAME_DATE >= '2017-10-17' and GAME_DATE <='2018-04-11'")
df_rs_18 = df.query("GAME_DATE >= '2018-10-16' and GAME_DATE <='2019-04-10'")

In [8]:
df_rs_03

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,VISITOR_TEAM_WINS
0,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,25.0,39.0,74.0,0.408,0.824,0.250,16.0,44.0,1,0
1,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,20.0,38.0,82.0,0.361,0.810,0.500,14.0,43.0,1,0
2,2003-10-28,20300003,1610612747,1610612742,LAL,Lakers,DAL,Mavericks,2003,109.0,...,32.0,46.0,93.0,0.376,0.733,0.280,17.0,46.0,1,0
3,2003-10-29,20300004,1610612738,1610612748,BOS,Celtics,MIA,Heat,2003,98.0,...,28.0,40.0,75.0,0.366,0.750,0.417,14.0,39.0,1,0
4,2003-10-29,20300005,1610612752,1610612753,NYK,Knicks,ORL,Magic,2003,83.0,...,20.0,48.0,85.0,0.368,0.552,0.250,17.0,44.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184,2004-04-14,20301185,1610612762,1610612756,UTA,Jazz,PHX,Suns,2003,84.0,...,20.0,43.0,89.0,0.479,0.609,0.438,18.0,39.0,0,1
1185,2004-04-14,20301186,1610612745,1610612742,HOU,Rockets,DAL,Mavericks,2003,89.0,...,24.0,50.0,92.0,0.408,0.676,0.389,22.0,40.0,0,1
1186,2004-04-14,20301187,1610612757,1610612747,POR,Trail Blazers,LAL,Lakers,2003,104.0,...,28.0,55.0,105.0,0.398,0.593,0.292,27.0,51.0,0,1
1187,2004-04-14,20301188,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,87.0,...,17.0,37.0,118.0,0.542,1.000,0.375,32.0,34.0,0,1
1188,2004-04-14,20301189,1610612744,1610612758,GSW,Warriors,SAC,Kings,2003,97.0,...,23.0,57.0,91.0,0.396,0.917,0.421,23.0,46.0,1,0

In [38]:
#Para no ir de golpe, vamos a ir introduciendo las columnas poco a poco
#las columnas van a ser las siguientes:
# % total de victorias que lleva hasta el momento el equipo home -> PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM
# % total de victorias que lleva hasta el momento el equipo visitor -> PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM
# % victorias ultimos 5 partidos jugados el equipo home
# % victorias ultimos 5 partidos jugados el equipo visitor
# % victorias ultimos 10 partidos jugados el equipo home
# % victorias ultimos 10 partidos jugados el equipo visitor

# media puntos que lleva hasta el momento el equipo home
# media puntos que lleva hasta el momento el equipo visitor
# media puntos 5 partidos jugados el equipo home
# media puntos 5 partidos jugados el equipo visitor
# media puntos 10 partidos jugados el equipo home
# media puntos 10 partidos jugados el equipo visitor

# media %FG que lleva hasta el momento el equipo home
# media %FG que lleva hasta el momento el equipo visitor
# media %FG ultimos 5 partidos jugados el equipo home
# media %FG ultimos 5 partidos jugados el equipo visitor
# media %FG ultimos 10 partidos jugados el equipo home
# media %FG ultimos 10 partidos jugados el equipo visitor

# media %FG3 que lleva hasta el momento el equipo home
# media %FG3 que lleva hasta el momento el equipo visitor
# media %FG3 ultimos 5 partidos jugados el equipo home
# media %FG3 ultimos 5 partidos jugados el equipo visitor
# media %FG3 ultimos 10 partidos jugados el equipo home
# media %FG3 ultimos 10 partidos jugados el equipo visitor

#Empezaremos por las dos primeras:
#Añadimos la columna VISITOR_TEAM_WINS que necesitaremos mas adelnate
df_rs_03['PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM'] = np.nan
df_rs_03['PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM'] = np.nan
df_rs_03

/tmp/ipykernel_3786/3510319304.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rs_03['PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM'] = np.nan
/tmp/ipykernel_3786/3510319304.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rs_03['PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM'] = np.nan

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,VISITOR_TEAM_WINS,PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM,PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM
0,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,74.0,0.408,0.824,0.250,16.0,44.0,1,0,NaN,NaN
1,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,82.0,0.361,0.810,0.500,14.0,43.0,1,0,NaN,NaN
2,2003-10-28,20300003,1610612747,1610612742,LAL,Lakers,DAL,Mavericks,2003,109.0,...,93.0,0.376,0.733,0.280,17.0,46.0,1,0,NaN,NaN
3,2003-10-29,20300004,1610612738,1610612748,BOS,Celtics,MIA,Heat,2003,98.0,...,75.0,0.366,0.750,0.417,14.0,39.0,1,0,NaN,NaN
4,2003-10-29,20300005,1610612752,1610612753,NYK,Knicks,ORL,Magic,2003,83.0,...,85.0,0.368,0.552,0.250,17.0,44.0,0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184,2004-04-14,20301185,1610612762,1610612756,UTA,Jazz,PHX,Suns,2003,84.0,...,89.0,0.479,0.609,0.438,18.0,39.0,0,1,NaN,NaN
1185,2004-04-14,20301186,1610612745,1610612742,HOU,Rockets,DAL,Mavericks,2003,89.0,...,92.0,0.408,0.676,0.389,22.0,40.0,0,1,NaN,NaN
1186,2004-04-14,20301187,1610612757,1610612747,POR,Trail Blazers,LAL,Lakers,2003,104.0,...,105.0,0.398,0.593,0.292,27.0,51.0,0,1,NaN,NaN
1187,2004-04-14,20301188,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,87.0,...,118.0,0.542,1.000,0.375,32.0,34.0,0,1,NaN,NaN
1188,2004-04-14,20301189,1610612744,1610612758,GSW,Warriors,SAC,Kings,2003,97.0,...,91.0,0.396,0.917,0.421,23.0,46.0,1,0,NaN,NaN

In [208]:
def test(game_id):
    #lo primero que hacemos es quedarnos con los id de los equipos de ese game_id
    home_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['HOME_TEAM_ID'])
    #print(home_team)
    visitor_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['VISITOR_TEAM_ID'])
    #print(visitor_team)
    #Acontinuacion filtramos el dataframe para quedarnos solo con los partidos anteriores
    #df_p_v_a = df_rs_03.query("GAME_ID <= " + str(game_id))
    df_p_v_a = df_rs_03[(df_rs_03['GAME_ID'] <= game_id)]
    #print(df_p_v_a)
    #ahora tengo que filtrar este dataframe primero para un equipo(home) y despues para el otro(visitor)
    #filtro tanto si jugaron en casa como fuera (cada uno de ellos), ya que para un partido puedes juegar como home o visitor
    
    #Vamos con el home_team
    df1h = df_p_v_a[(df_p_v_a['HOME_TEAM_ID'] == home_team)]
    df2h = df_p_v_a[(df_p_v_a['VISITOR_TEAM_ID'] == home_team)]
    df_p_v_a_home = pd.concat([df1h, df2h])
    #df_p_v_a_home = df_p_v_a.query("HOME_TEAM_ID == "+str(home_team))#+" or VISITOR_TEAM_ID=="+str(home_team))
    #print(df_p_v_a_home)
    #el numero total de filas es la cantidad de partidos que llevan esta temporada
    total_partidosH = int(len(df_p_v_a_home))
    #print(total_partidosH)
    #para saber el numero de victorias lo voy a dividir en dos, primero cuando juega como local y 
    #despues le sumare las que consigue tambn como visitante
    df_p_v_a_homeH = df_p_v_a_home.query("HOME_TEAM_ID == " + str(home_team))
    #print(df_p_v_a_homeH)
    victorias_as_homeH = int(df_p_v_a_homeH[df_p_v_a_homeH['HOME_TEAM_WINS'] >= 1]['HOME_TEAM_WINS'].count())
    #victorias como visitante
    df_p_v_a_homeV = df_p_v_a_home.query("VISITOR_TEAM_ID == " + str(home_team))
    victorias_as_visitorH = int(df_p_v_a_homeV[df_p_v_a_homeV['VISITOR_TEAM_WINS'] >= 1]['VISITOR_TEAM_WINS'].count())
    #total victorias
    victorias_totalH = victorias_as_homeH + victorias_as_visitorH
    #El porcentaje de victorias para el equipo que juega como local hasta ese partido es:
    porcentaje_victorias_home_team = (victorias_totalH / total_partidosH) * 100
    #print(porcentaje_victorias_home_team)  
    
    
    #Vamos con el visitor_team
    df1v = df_p_v_a[(df_p_v_a['HOME_TEAM_ID'] == visitor_team)]
    df2v = df_p_v_a[(df_p_v_a['VISITOR_TEAM_ID'] == visitor_team)]
    df_p_v_a_visitor = pd.concat([df1v, df2v])
    #el numero total de filas es la cantidad de partidos que llevan esta temporada
    total_partidosV = int(len(df_p_v_a_visitor))
    #para saber el numero de victorias lo voy a dividir en dos, primero cuando juega como local y 
    #despues le sumare las que consigue tambn como visitante
    df_p_v_a_visitorH = df_p_v_a_visitor.query("HOME_TEAM_ID == " + str(visitor_team))
    victorias_as_homeV = int(df_p_v_a_visitorH[df_p_v_a_visitorH['HOME_TEAM_WINS'] >= 1]['HOME_TEAM_WINS'].count())
    #victorias como visitante
    df_p_v_a_visitorV = df_p_v_a_visitor.query("VISITOR_TEAM_ID == " + str(visitor_team))
    victorias_as_visitorV = int(df_p_v_a_visitorV[df_p_v_a_visitorV['VISITOR_TEAM_WINS'] >= 1]['VISITOR_TEAM_WINS'].count())
    #total victorias
    victorias_totalV = victorias_as_homeV + victorias_as_visitorV
    #El porcentaje de victorias para el equipo que juega como visitor hasta ese partido es:
    porcentaje_victorias_visitor_team = (victorias_totalV / total_partidosV) * 100
    #print(porcentaje_victorias_visitor_team)
    

    return [porcentaje_victorias_home_team, porcentaje_victorias_visitor_team]

In [217]:
#Vamos a crear una funcion que dado un game_id me calcule para cada equipo que juega el partido 
#el % de victorias que llevan dicha temporada:
#para eso me basta con saber el numero total de partidos que llevan dicha temporada y el numero de victorias

def porcentaje_victorias_all(game_id):
    #lo primero que hacemos es quedarnos con los id de los equipos de ese game_id
    home_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['HOME_TEAM_ID'])
    #print(home_team)
    visitor_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['VISITOR_TEAM_ID'])
    #print(visitor_team)
    #Acontinuacion filtramos el dataframe para quedarnos solo con los partidos anteriores
    #df_p_v_a = df_rs_03.query("GAME_ID <= " + str(game_id))
    df_p_v_a = df_rs_03[(df_rs_03['GAME_ID'] <= game_id)]
    #print(df_p_v_a)
    #ahora tengo que filtrar este dataframe primero para un equipo(home) y despues para el otro(visitor)
    #filtro tanto si jugaron en casa como fuera (cada uno de ellos), ya que para un partido puedes juegar como home o visitor
    
    #Vamos con el home_team
    df1h = df_p_v_a[(df_p_v_a['HOME_TEAM_ID'] == home_team)]
    df2h = df_p_v_a[(df_p_v_a['VISITOR_TEAM_ID'] == home_team)]
    df_p_v_a_home = pd.concat([df1h, df2h])
    #df_p_v_a_home = df_p_v_a.query("HOME_TEAM_ID == "+str(home_team))#+" or VISITOR_TEAM_ID=="+str(home_team))
    #print(df_p_v_a_home)
    #el numero total de filas es la cantidad de partidos que llevan esta temporada
    total_partidosH = int(len(df_p_v_a_home))
    #print(total_partidosH)
    #para saber el numero de victorias lo voy a dividir en dos, primero cuando juega como local y 
    #despues le sumare las que consigue tambn como visitante
    df_p_v_a_homeH = df_p_v_a_home.query("HOME_TEAM_ID == " + str(home_team))
    #print(df_p_v_a_homeH)
    victorias_as_homeH = int(df_p_v_a_homeH[df_p_v_a_homeH['HOME_TEAM_WINS'] >= 1]['HOME_TEAM_WINS'].count())
    #victorias como visitante
    df_p_v_a_homeV = df_p_v_a_home.query("VISITOR_TEAM_ID == " + str(home_team))
    victorias_as_visitorH = int(df_p_v_a_homeV[df_p_v_a_homeV['VISITOR_TEAM_WINS'] >= 1]['VISITOR_TEAM_WINS'].count())
    #total victorias
    victorias_totalH = victorias_as_homeH + victorias_as_visitorH
    #El porcentaje de victorias para el equipo que juega como local hasta ese partido es:
    porcentaje_victorias_home_team = (victorias_totalH / total_partidosH) * 100
    #print(porcentaje_victorias_home_team)  
    
    
    #Vamos con el visitor_team
    df1v = df_p_v_a[(df_p_v_a['HOME_TEAM_ID'] == visitor_team)]
    df2v = df_p_v_a[(df_p_v_a['VISITOR_TEAM_ID'] == visitor_team)]
    df_p_v_a_visitor = pd.concat([df1v, df2v])
    #el numero total de filas es la cantidad de partidos que llevan esta temporada
    total_partidosV = int(len(df_p_v_a_visitor))
    #para saber el numero de victorias lo voy a dividir en dos, primero cuando juega como local y 
    #despues le sumare las que consigue tambn como visitante
    df_p_v_a_visitorH = df_p_v_a_visitor.query("HOME_TEAM_ID == " + str(visitor_team))
    victorias_as_homeV = int(df_p_v_a_visitorH[df_p_v_a_visitorH['HOME_TEAM_WINS'] >= 1]['HOME_TEAM_WINS'].count())
    #victorias como visitante
    df_p_v_a_visitorV = df_p_v_a_visitor.query("VISITOR_TEAM_ID == " + str(visitor_team))
    victorias_as_visitorV = int(df_p_v_a_visitorV[df_p_v_a_visitorV['VISITOR_TEAM_WINS'] >= 1]['VISITOR_TEAM_WINS'].count())
    #total victorias
    victorias_totalV = victorias_as_homeV + victorias_as_visitorV
    #El porcentaje de victorias para el equipo que juega como visitor hasta ese partido es:
    porcentaje_victorias_visitor_team = (victorias_totalV / total_partidosV) * 100
    #print(porcentaje_victorias_visitor_team)
    

    return porcentaje_victorias_home_team, porcentaje_victorias_visitor_team

In [219]:
#Vamos a crear dos funciones(una para el equipo que juega como home y otra para el visitor) que dado un game_id 
#el % de victorias que llevan dicha temporada:
#para eso me basta con saber el numero total de partidos que llevan dicha temporada y el numero de victorias

#cada una de estas funciones con un map generara una lista para cada cada columna

def porcentaje_victorias_home_team(game_id):
    #lo primero que hacemos es quedarnos con los id de los equipos de ese game_id
    home_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['HOME_TEAM_ID'])
    #print(home_team)
    visitor_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['VISITOR_TEAM_ID'])
    #print(visitor_team)
    #Acontinuacion filtramos el dataframe para quedarnos solo con los partidos anteriores
    #df_p_v_a = df_rs_03.query("GAME_ID <= " + str(game_id))
    df_p_v_a = df_rs_03[(df_rs_03['GAME_ID'] <= game_id)]
    #print(df_p_v_a)
    #ahora tengo que filtrar este dataframe para un equipo(home)
    #filtro tanto si jugaron en casa como fuera (cada uno de ellos), ya que para un partido puedes juegar como home o visitor
    
    #Vamos con el home_team
    df1h = df_p_v_a[(df_p_v_a['HOME_TEAM_ID'] == home_team)]
    df2h = df_p_v_a[(df_p_v_a['VISITOR_TEAM_ID'] == home_team)]
    df_p_v_a_home = pd.concat([df1h, df2h])
    #df_p_v_a_home = df_p_v_a.query("HOME_TEAM_ID == "+str(home_team))#+" or VISITOR_TEAM_ID=="+str(home_team))
    #print(df_p_v_a_home)
    #el numero total de filas es la cantidad de partidos que llevan esta temporada
    total_partidosH = int(len(df_p_v_a_home))
    #print(total_partidosH)
    #para saber el numero de victorias lo voy a dividir en dos, primero cuando juega como local y 
    #despues le sumare las que consigue tambn como visitante
    df_p_v_a_homeH = df_p_v_a_home.query("HOME_TEAM_ID == " + str(home_team))
    #print(df_p_v_a_homeH)
    victorias_as_homeH = int(df_p_v_a_homeH[df_p_v_a_homeH['HOME_TEAM_WINS'] >= 1]['HOME_TEAM_WINS'].count())
    #victorias como visitante
    df_p_v_a_homeV = df_p_v_a_home.query("VISITOR_TEAM_ID == " + str(home_team))
    victorias_as_visitorH = int(df_p_v_a_homeV[df_p_v_a_homeV['VISITOR_TEAM_WINS'] >= 1]['VISITOR_TEAM_WINS'].count())
    #total victorias
    victorias_totalH = victorias_as_homeH + victorias_as_visitorH
    #El porcentaje de victorias para el equipo que juega como local hasta ese partido es:
    porcentaje_victorias_home_team = (victorias_totalH / total_partidosH) * 100
    #print(porcentaje_victorias_home_team)
    

    return porcentaje_victorias_home_team

def porcentaje_victorias_visitor_team(game_id):
    #lo primero que hacemos es quedarnos con los id de los equipos de ese game_id
    home_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['HOME_TEAM_ID'])
    #print(home_team)
    visitor_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['VISITOR_TEAM_ID'])
    #print(visitor_team)
    #Acontinuacion filtramos el dataframe para quedarnos solo con los partidos anteriores
    #df_p_v_a = df_rs_03.query("GAME_ID <= " + str(game_id))
    df_p_v_a = df_rs_03[(df_rs_03['GAME_ID'] <= game_id)]
    #print(df_p_v_a)
    #ahora tengo que filtrar este dataframe para el visitor
    #filtro tanto si jugaron en casa como fuera (cada uno de ellos), ya que para un partido puedes juegar como home o visitor
    
    #Vamos con el visitor_team
    df1v = df_p_v_a[(df_p_v_a['HOME_TEAM_ID'] == visitor_team)]
    df2v = df_p_v_a[(df_p_v_a['VISITOR_TEAM_ID'] == visitor_team)]
    df_p_v_a_visitor = pd.concat([df1v, df2v])
    #el numero total de filas es la cantidad de partidos que llevan esta temporada
    total_partidosV = int(len(df_p_v_a_visitor))
    #para saber el numero de victorias lo voy a dividir en dos, primero cuando juega como local y 
    #despues le sumare las que consigue tambn como visitante
    df_p_v_a_visitorH = df_p_v_a_visitor.query("HOME_TEAM_ID == " + str(visitor_team))
    victorias_as_homeV = int(df_p_v_a_visitorH[df_p_v_a_visitorH['HOME_TEAM_WINS'] >= 1]['HOME_TEAM_WINS'].count())
    #victorias como visitante
    df_p_v_a_visitorV = df_p_v_a_visitor.query("VISITOR_TEAM_ID == " + str(visitor_team))
    victorias_as_visitorV = int(df_p_v_a_visitorV[df_p_v_a_visitorV['VISITOR_TEAM_WINS'] >= 1]['VISITOR_TEAM_WINS'].count())
    #total victorias
    victorias_totalV = victorias_as_homeV + victorias_as_visitorV
    #El porcentaje de victorias para el equipo que juega como visitor hasta ese partido es:
    porcentaje_victorias_visitor_team = (victorias_totalV / total_partidosV) * 100
    #print(porcentaje_victorias_visitor_team)
    

    return porcentaje_victorias_visitor_team

In [220]:
#generamos la lista de games ids
game_ids = list(df_rs_03['GAME_ID'].values)
#generamos la lista de la columna PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM
porcentajes_victorias_team_home_rs_03 = list(map(porcentaje_victorias_home_team, game_ids))
#generamos la lista de la columna PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM
porcentajes_victorias_team_visitor_rs_03 = list(map(porcentaje_victorias_visitor_team, game_ids))

In [221]:
#Insertamos los resultados en el dataframe
df_rs_03['PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM'] = pd.Series(porcentajes_victorias_team_home_rs_03)
df_rs_03['PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM'] = pd.Series(porcentajes_victorias_team_visitor_rs_03)

/tmp/ipykernel_3786/3796500540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rs_03['PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM'] = pd.Series(porcentajes_victorias_team_home_rs_03)
/tmp/ipykernel_3786/3796500540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rs_03['PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM'] = pd.Series(porcentajes_victorias_team_visitor_rs_03)

In [222]:
#Comprobamos que se han introducido correctamente
df_rs_03

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,VISITOR_TEAM_WINS,PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM,PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM
0,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,74.0,0.408,0.824,0.250,16.0,44.0,1,0,100.000000,0.000000
1,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,82.0,0.361,0.810,0.500,14.0,43.0,1,0,100.000000,0.000000
2,2003-10-28,20300003,1610612747,1610612742,LAL,Lakers,DAL,Mavericks,2003,109.0,...,93.0,0.376,0.733,0.280,17.0,46.0,1,0,100.000000,0.000000
3,2003-10-29,20300004,1610612738,1610612748,BOS,Celtics,MIA,Heat,2003,98.0,...,75.0,0.366,0.750,0.417,14.0,39.0,1,0,100.000000,0.000000
4,2003-10-29,20300005,1610612752,1610612753,NYK,Knicks,ORL,Magic,2003,83.0,...,85.0,0.368,0.552,0.250,17.0,44.0,0,1,0.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184,2004-04-14,20301185,1610612762,1610612756,UTA,Jazz,PHX,Suns,2003,84.0,...,89.0,0.479,0.609,0.438,18.0,39.0,0,1,51.219512,35.365854
1185,2004-04-14,20301186,1610612745,1610612742,HOU,Rockets,DAL,Mavericks,2003,89.0,...,92.0,0.408,0.676,0.389,22.0,40.0,0,1,54.878049,63.414634
1186,2004-04-14,20301187,1610612757,1610612747,POR,Trail Blazers,LAL,Lakers,2003,104.0,...,105.0,0.398,0.593,0.292,27.0,51.0,0,1,50.000000,68.292683
1187,2004-04-14,20301188,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,87.0,...,118.0,0.542,1.000,0.375,32.0,34.0,0,1,34.146341,45.121951
1188,2004-04-14,20301189,1610612744,1610612758,GSW,Warriors,SAC,Kings,2003,97.0,...,91.0,0.396,0.917,0.421,23.0,46.0,1,0,45.121951,67.073171

In [224]:
# Ahora que ya tenemos un modus operandi, vamos a ir ralizando las mismas acciones para el resto de columnas,
# los pasos seran los siguientes:
# 1) Crear pareja de columnas (home y visitor)
# 2) Crear sendas funciones
# 3) Aplicar los map para generar los resultados
# 4) Insertamos los resultado en el dataframe

In [223]:
# 1)
df_rs_03['PERCENT_VIC_LAST5_GAMES_HOME_TEAM'] = np.nan
df_rs_03['PERCENT_VIC_LAST5_GAMES_VISITOR_TEAM'] = np.nan
df_rs_03

/tmp/ipykernel_3786/1239259480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rs_03['PERCENT_VIC_LAST5_GAMES_HOME_TEAM'] = np.nan
/tmp/ipykernel_3786/1239259480.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rs_03['PERCENT_VIC_LAST5_GAMES_VISITOR_TEAM'] = np.nan

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,VISITOR_TEAM_WINS,PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM,PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM,PERCENT_VIC_LAST5_GAMES_HOME_TEAM,PERCENT_VIC_LAST5_GAMES_VISITOR_TEAM
0,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,0.824,0.250,16.0,44.0,1,0,100.000000,0.000000,NaN,NaN
1,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,0.810,0.500,14.0,43.0,1,0,100.000000,0.000000,NaN,NaN
2,2003-10-28,20300003,1610612747,1610612742,LAL,Lakers,DAL,Mavericks,2003,109.0,...,0.733,0.280,17.0,46.0,1,0,100.000000,0.000000,NaN,NaN
3,2003-10-29,20300004,1610612738,1610612748,BOS,Celtics,MIA,Heat,2003,98.0,...,0.750,0.417,14.0,39.0,1,0,100.000000,0.000000,NaN,NaN
4,2003-10-29,20300005,1610612752,1610612753,NYK,Knicks,ORL,Magic,2003,83.0,...,0.552,0.250,17.0,44.0,0,1,0.000000,100.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184,2004-04-14,20301185,1610612762,1610612756,UTA,Jazz,PHX,Suns,2003,84.0,...,0.609,0.438,18.0,39.0,0,1,51.219512,35.365854,NaN,NaN
1185,2004-04-14,20301186,1610612745,1610612742,HOU,Rockets,DAL,Mavericks,2003,89.0,...,0.676,0.389,22.0,40.0,0,1,54.878049,63.414634,NaN,NaN
1186,2004-04-14,20301187,1610612757,1610612747,POR,Trail Blazers,LAL,Lakers,2003,104.0,...,0.593,0.292,27.0,51.0,0,1,50.000000,68.292683,NaN,NaN
1187,2004-04-14,20301188,1610612746,1610612760,LAC,Clippers,OKC,Thunder,2003,87.0,...,1.000,0.375,32.0,34.0,0,1,34.146341,45.121951,NaN,NaN
1188,2004-04-14,20301189,1610612744,1610612758,GSW,Warriors,SAC,Kings,2003,97.0,...,0.917,0.421,23.0,46.0,1,0,45.121951,67.073171,NaN,NaN

In [ ]:
# 2)
def porcentaje_victorias_last5_home_team(game_id):
    #lo primero que hacemos es quedarnos con los id de los equipos de ese game_id
    home_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['HOME_TEAM_ID'])
    #print(home_team)
    visitor_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['VISITOR_TEAM_ID'])
    #print(visitor_team)
    #Acontinuacion filtramos el dataframe para quedarnos solo con los partidos anteriores
    #df_p_v_a = df_rs_03.query("GAME_ID <= " + str(game_id))
    df_p_v_a = df_rs_03[(df_rs_03['GAME_ID'] <= game_id)]
    #print(df_p_v_a)
    #ahora tengo que filtrar este dataframe para un equipo(home)
    #filtro tanto si jugaron en casa como fuera (cada uno de ellos), ya que para un partido puedes juegar como home o visitor
    
    #Vamos con el home_team
    df1h = df_p_v_a[(df_p_v_a['HOME_TEAM_ID'] == home_team)]
    df2h = df_p_v_a[(df_p_v_a['VISITOR_TEAM_ID'] == home_team)]
    df_p_v_a_home = pd.concat([df1h, df2h])
    #df_p_v_a_home = df_p_v_a.query("HOME_TEAM_ID == "+str(home_team))#+" or VISITOR_TEAM_ID=="+str(home_team))
    #print(df_p_v_a_home)
    #el numero total de filas es la cantidad de partidos que llevan esta temporada
    total_partidosH = int(len(df_p_v_a_home))
    #print(total_partidosH)
    #para saber el numero de victorias lo voy a dividir en dos, primero cuando juega como local y 
    #despues le sumare las que consigue tambn como visitante
    df_p_v_a_homeH = df_p_v_a_home.query("HOME_TEAM_ID == " + str(home_team))
    #print(df_p_v_a_homeH)
    victorias_as_homeH = int(df_p_v_a_homeH[df_p_v_a_homeH['HOME_TEAM_WINS'] >= 1]['HOME_TEAM_WINS'].count())
    #victorias como visitante
    df_p_v_a_homeV = df_p_v_a_home.query("VISITOR_TEAM_ID == " + str(home_team))
    victorias_as_visitorH = int(df_p_v_a_homeV[df_p_v_a_homeV['VISITOR_TEAM_WINS'] >= 1]['VISITOR_TEAM_WINS'].count())
    #total victorias
    victorias_totalH = victorias_as_homeH + victorias_as_visitorH
    #El porcentaje de victorias para el equipo que juega como local hasta ese partido es:
    porcentaje_victorias_home_team = (victorias_totalH / total_partidosH) * 100
    #print(porcentaje_victorias_home_team)
    

    return porcentaje_victorias_home_team

def porcentaje_victorias_last5_visitor_team(game_id):
    #lo primero que hacemos es quedarnos con los id de los equipos de ese game_id
    home_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['HOME_TEAM_ID'])
    #print(home_team)
    visitor_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['VISITOR_TEAM_ID'])
    #print(visitor_team)
    #Acontinuacion filtramos el dataframe para quedarnos solo con los partidos anteriores
    #df_p_v_a = df_rs_03.query("GAME_ID <= " + str(game_id))
    df_p_v_a = df_rs_03[(df_rs_03['GAME_ID'] <= game_id)]
    #print(df_p_v_a)
    #ahora tengo que filtrar este dataframe para el visitor
    #filtro tanto si jugaron en casa como fuera (cada uno de ellos), ya que para un partido puedes juegar como home o visitor
    
    #Vamos con el visitor_team
    df1v = df_p_v_a[(df_p_v_a['HOME_TEAM_ID'] == visitor_team)]
    df2v = df_p_v_a[(df_p_v_a['VISITOR_TEAM_ID'] == visitor_team)]
    df_p_v_a_visitor = pd.concat([df1v, df2v])
    #el numero total de filas es la cantidad de partidos que llevan esta temporada
    total_partidosV = int(len(df_p_v_a_visitor))
    #para saber el numero de victorias lo voy a dividir en dos, primero cuando juega como local y 
    #despues le sumare las que consigue tambn como visitante
    df_p_v_a_visitorH = df_p_v_a_visitor.query("HOME_TEAM_ID == " + str(visitor_team))
    victorias_last5_as_homeV = int(df_p_v_a_visitorH[df_p_v_a_visitorH['HOME_TEAM_WINS'].tail(5) >= 1]['HOME_TEAM_WINS'].count())
    #victorias como visitante
    df_p_v_a_visitorV = df_p_v_a_visitor.query("VISITOR_TEAM_ID == " + str(visitor_team))
    victorias_last5_as_visitorV = int(df_p_v_a_visitorV[df_p_v_a_visitorV['VISITOR_TEAM_WINS'].tail(5) >= 1]['VISITOR_TEAM_WINS'].count())
    #total victorias
    victorias_last5_totalV = victorias_last5_as_homeV + victorias_last5_as_visitorV
    #El porcentaje de victorias para el equipo que juega como visitor hasta ese partido es:
    porcentaje_victorias_last5_visitor_team = (victorias_last5_totalV / total_partidosV) * 100
    #print(porcentaje_victorias_visitor_team)
    

    return porcentaje_victorias_last5_visitor_team

In [235]:
def porcentaje_victorias_last5_visitor_team(game_id):
    #lo primero que hacemos es quedarnos con los id de los equipos de ese game_id
    home_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['HOME_TEAM_ID'])
    #print(home_team)
    visitor_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['VISITOR_TEAM_ID'])
    #print(visitor_team)
    #Acontinuacion filtramos el dataframe para quedarnos solo con los partidos anteriores
    #df_p_v_a = df_rs_03.query("GAME_ID <= " + str(game_id))
    df_p_v_a = df_rs_03[(df_rs_03['GAME_ID'] <= game_id)]
    #print(df_p_v_a)
    #ahora tengo que filtrar este dataframe para el visitor
    #filtro tanto si jugaron en casa como fuera (cada uno de ellos), ya que para un partido puedes juegar como home o visitor
    
    #Vamos con el visitor_team
    df1v = df_p_v_a[(df_p_v_a['HOME_TEAM_ID'] == visitor_team)]
    df2v = df_p_v_a[(df_p_v_a['VISITOR_TEAM_ID'] == visitor_team)]
    df_p_v_a_visitor = pd.concat([df1v, df2v])
    #el numero total de filas es la cantidad de partidos que llevan esta temporada
    total_partidosV = int(len(df_p_v_a_visitor))
    #para saber el numero de victorias lo voy a dividir en dos, primero cuando juega como local y 
    #despues le sumare las que consigue tambn como visitante
    df_p_v_a_visitorH = df_p_v_a_visitor.query("HOME_TEAM_ID == " + str(visitor_team))
    df_p_v_a_visitorH_last5 = df_p_v_a_visitorH.tail(5)
    victorias_last5_as_homeV = int(df_p_v_a_visitorH_last5[df_p_v_a_visitorH_last5['HOME_TEAM_WINS'] >= 1]['HOME_TEAM_WINS'].count())
    #victorias como visitante
    df_p_v_a_visitorV = df_p_v_a_visitor.query("VISITOR_TEAM_ID == " + str(visitor_team))
    df_p_v_a_visitorV_last5 = df_p_v_a_visitorV.tail(5)
    victorias_last5_as_visitorV = int(df_p_v_a_visitorV_last5[df_p_v_a_visitorV_last5['VISITOR_TEAM_WINS'] >= 1]['VISITOR_TEAM_WINS'].count())
    #total victorias
    victorias_last5_totalV = victorias_last5_as_homeV + victorias_last5_as_visitorV
    #El porcentaje de victorias para el equipo que juega como visitor hasta ese partido es:
    porcentaje_victorias_last5_visitor_team = (victorias_last5_totalV / total_partidosV) * 100
    #print(porcentaje_victorias_visitor_team)
    

    return porcentaje_victorias_last5_visitor_team

In [236]:
porcentaje_victorias_last5_visitor_team(20301189)

4.878048780487805

In [232]:
#generamos la lista de games ids
game_ids = list(df_rs_03['GAME_ID'].values)

porcentajes_victorias_last5_team_visitor_rs_03 = list(map(porcentaje_victorias_last5_visitor_team, game_ids))

porcentajes_victorias_last5_team_visitor_rs_03

/tmp/ipykernel_3786/3365600192.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  victorias_last5_as_visitorV = int(df_p_v_a_visitorV[df_p_v_a_visitorV['VISITOR_TEAM_WINS'].tail(5) >= 1]['VISITOR_TEAM_WINS'].count())

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [230]:
game_id = 20300002
df_rs_03[(df_rs_03['GAME_ID'] <= game_id)].tail(5)

,GAME_DATE,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_ABBREVIATION,VISITOR_TEAM_NICKNAME,SEASON,PTS_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,VISITOR_TEAM_WINS,PERCENT_VIC_UNITL_THIS_GAME_HOME_TEAM,PERCENT_VIC_UNITL_THIS_GAME_VISITOR_TEAM,PERCENT_VIC_LAST5_GAMES_HOME_TEAM,PERCENT_VIC_LAST5_GAMES_VISITOR_TEAM
0,2003-10-28,20300001,1610612755,1610612748,PHI,76ers,MIA,Heat,2003,89.0,...,0.824,0.25,16.0,44.0,1,0,100.0,0.0,NaN,NaN
1,2003-10-28,20300002,1610612759,1610612756,SAS,Spurs,PHX,Suns,2003,83.0,...,0.810,0.50,14.0,43.0,1,0,100.0,0.0,NaN,NaN

In [ ]:
#lo primero que hacemos es quedarnos con los id de los equipos de ese game_id
home_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['HOME_TEAM_ID'])
#print(home_team)
visitor_team = int(df_rs_03.query("GAME_ID == " + str(game_id))['VISITOR_TEAM_ID'])
#print(visitor_team)
#Acontinuacion filtramos el dataframe para quedarnos solo con los partidos anteriores
df_p_v_a = df_rs_03[(df_rs_03['GAME_ID'] <= game_id) & ((df_rs_03['HOME_TEAM_ID'] <= home_team) | (df_rs_03['VISITOR_TEAM_ID'] <= home_team))]